In [2]:
import pandas as pd

In [3]:
iris = pd.read_csv('iris.csv')

In [4]:
df = iris.copy()
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

### Q1 Find and print count of each kind of flower (separated by space)?

In [5]:
count = df['variety'].value_counts()
print(count[0], count[1], count[2])

50 50 50

### Q2 Find the data of flower “Iris-virginica” type where petal-length > 1.5?

In [6]:
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']
df = df[df.flower_type == 'Virginica']
df = df[df.pl>1.5]
# df = df[df.pl > 1.5]
df = df.values
for row in df:
    print(*row)

6.3 3.3 6.0 2.5 Virginica
5.8 2.7 5.1 1.9 Virginica
7.1 3.0 5.9 2.1 Virginica
6.3 2.9 5.6 1.8 Virginica
6.5 3.0 5.8 2.2 Virginica
7.6 3.0 6.6 2.1 Virginica
4.9 2.5 4.5 1.7 Virginica
7.3 2.9 6.3 1.8 Virginica
6.7 2.5 5.8 1.8 Virginica
7.2 3.6 6.1 2.5 Virginica
6.5 3.2 5.1 2.0 Virginica
6.4 2.7 5.3 1.9 Virginica
6.8 3.0 5.5 2.1 Virginica
5.7 2.5 5.0 2.0 Virginica
5.8 2.8 5.1 2.4 Virginica
6.4 3.2 5.3 2.3 Virginica
6.5 3.0 5.5 1.8 Virginica
7.7 3.8 6.7 2.2 Virginica
7.7 2.6 6.9 2.3 Virginica
6.0 2.2 5.0 1.5 Virginica
6.9 3.2 5.7 2.3 Virginica
5.6 2.8 4.9 2.0 Virginica
7.7 2.8 6.7 2.0 Virginica
6.3 2.7 4.9 1.8 Virginica
6.7 3.3 5.7 2.1 Virginica
7.2 3.2 6.0 1.8 Virginica
6.2 2.8 4.8 1.8 Virginica
6.1 3.0 4.9 1.8 Virginica
6.4 2.8 5.6 2.1 Virginica
7.2 3.0 5.8 1.6 Virginica
7.4 2.8 6.1 1.9 Virginica
7.9 3.8 6.4 2.0 Virginica
6.4 2.8 5.6 2.2 Virginica
6.3 2.8 5.1 1.5 Virginica
6.1 2.6 5.6 1.4 Virginica
7.7 3.0 6.1 2.3 Virginica
6.3 3.4 5.6 2.4 Virginica
6.4 3.1 5.5 1.8 Virginica
6.0 3.0 4.8 1.8 Virginica
6.9 3.1 5.4 2.1 Virginica
6.7 3.1 5.6 2.4 Virginica
6.9 3.1 5.1 2.3 Virginica
5.8 2.7 5.1 1.9 Virginica
6.8 3.2 5.9 2.3 Virginica
6.7 3.3 5.7 2.5 Virginica
6.7 3.0 5.2 2.3 Virginica
6.3 2.5 5.0 1.9 Virginica
6.5 3.0 5.2 2.0 Virginica
6.2 3.4 5.4 2.3 Virginica
5.9 3.0 5.1 1.8 Virginica

### Q3 ind and print the minimum, maximum and average value of the feature for each kind of flower ?

In [7]:
columns = ['sl','sw','pl','pw','flower_type']
iris = pd.read_csv('iris.csv', names=columns)
df = iris.copy()
df.head()

a1 = df[df.flower_type == 'Setosa']
print('%.2f'%min(a1['sl']))

TypeError: must be real number, not str

### Q4 The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
Print count of number of attacks in that city as integer value.  
Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.

In [8]:
import pandas as pd
df = pd.read_csv('terrorismData.csv')
df = df[df.State=='Jammu and Kashmir']
df_list = df['City'].value_counts()
city = df_list.index[0]
count = df_list.values[0]

df = df[df['City']==city]
group = df['Group'].value_counts().index[1]

print(city, count, group)

Srinagar 657 Muslim Separatists

### Q4: Terror Attack
Problem Statement :  
Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country ?  
Print count of terror attacks as integer value.

In [9]:
df = pd.read_csv('terrorismData.csv')
df_list = df['Country'].value_counts()
df_list.head()
country = df_list.index[0]
attack = df_list.values[0]
df = df[df['Country']==country]
year = df['Year'].value_counts().index[0]
print(country, year, attack)

Iraq 2014 24636

### Q5: Terror DeadliestAttack
Problem Statement :  
Most Deadliest attack in a history of HumanKind?  
Print count of Killed people as integer value.  
Note: Here Deadliest attack means, in which the most number of people killed.

In [10]:
df = pd.read_csv('terrorismData.csv')
df = df[df.Killed == df.Killed.max()]
mx_killed = df.Killed.iloc[0]
country = df.Country.iloc[0]
group = df.Group.iloc[0]
print(int(mx_killed), country, group)

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

#### Q6: Terror Government
Problem Statement :
There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-  
   1. Total number of attacks done in this period in India. Find this count as integer.  
   2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of       attacks.  
   3. Ignore the Unknown group.

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv('terrorismData.csv')

a = df[df.Day>=26]
b = a[a.Year==2014]
c = b[b.Country=='India']
ans1 = c[c.Month==5]


d = df[df.Year==2014]
e = df[df.Country=='India']
ans2 = e[e.Month>5]

f = df[df.Country =='India']
ans3= f[f.Year > 2014]

count = ans1.shape[0] + ans2.shape[0] + ans3.shape[0]
ans1=ans1[ans1.Group!='Unknown']
ans2=ans2[ans2.Group!='Unknown']
ans3=ans3[ans3.Group!='Unknown']

print(count, ans3.Group.describe().top)

9781 Maoists

### Q7: Terror Frequency
Problem Statement :  
Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?Here Frequency is (Total Casualty/Total Number of a year)  
Print frequency as integer value.  
Note:Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded.Don't fill the nan value present in Killed and Wounded feature.

In [26]:
import pandas as pd
import numpy as np
df = pd.read_csv('terrorismData.csv')
year = len(set(df['Year']))

df = df[df.Country == 'India']
# New Col
df['Casualty'] = df['Killed'] + df['Wounded']

# Creating new dataframes
rc = df[(df.State == 'Jharkhand') | (df.State == 'Odisha') | (df.State == 'Andhra Pradesh') | (df.State == 'Chhattisgarh')]
jk = df[df.State == 'Jammu and Kashmir']

# Storing sums in var
jkc = int(np.sum(jk['Casualty']))
rcc = int(np.sum(rc['Casualty']))

print(rcc//year, jkc//year)

115 261