# Simple Random Sampling

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('startup_funding.csv')
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [3]:
amount = data['AmountInUSD']
amount.head()

0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [4]:
# To remove the null values
amount.dropna(inplace= True)
amount.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [5]:
# As we can see that we have , in between numbers so they must be str type, to convert we have to remove the , 
a1 = amount.str.replace(',', '')
a1.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: object

In [6]:
# As we can see there it is still of type string
a1[0]

'1300000'

In [7]:
# To convert string to integer
a2 = pd.to_numeric(a1)
a2[0]

1300000

In [9]:
pop_avg = a2.mean()
pop_min = a2.min()
pop_max = a2.max()
print(pop_avg)
print(pop_min)
print(pop_max)

12031073.099016393
16000
1400000000

In [17]:
sample_size = 100
# To randomly select(wihthou replacement) records form the population we can use dataframes(pandas)
population = a2
sample = population.sample(sample_size, random_state=1)
sample

142      4000000
1931    16200000
309       325000
985     25000000
439        18000
          ...
1347     3000000
1810    30000000
1721      150000
1913    30000000
777      1500000
Name: AmountInUSD, Length: 100, dtype: int64

In [16]:
sample.shape

(100,)

In [20]:
sample_avg = sample.mean()
sample_min = sample.min()
sample_max = sample.max()
# pop_ things parameters, sample_ things are statistic - sample error = parameter - statistic
print(pop_avg, sample_avg)
print(pop_max, sample_max)
print(pop_min, sample_min)

12031073.099016393 24592930.0
1400000000 1400000000
16000 18000